body{
  background-color: #eeeeee;
  font-size: 15px;   
}

section{
  border-radius: 5px;
  background-color: white;
  margin: 15px;
}

.section_exp{
  height: 600;
  width: 364;
}

main{
  width: 850px;
  margin: 0 auto;
}

a{
  color: #464646;
  text-decoration: none;
}

a.a1{
  color:mediumblue;
}

.hrt{
  border-top: 1px solid #ededed;
  border-top-color: rgb(237, 237, 237);
  border-top-style: solid;
  border-top-width: 1px;
  list-style: none;
  list-style-position: outside;
  list-style-image: none;
  list-style-type: none;
  box-sizing: border-box;
  margin-left: 22px;
  margin-right: 22px;  
  margin-top: 10px;

}

.contr{
display: flex;
}

.contr1{
  height: 200px;
}

.contr__title__h2{
  margin-left: 90px;
  bottom: 75px;
  position: relative;
  color: #464646;
  font-family: PT Sans,sans-serif;
}

.contr1 .contr__title1{
  color: #464646;
  position: relative;
  margin-left: 20px;
  top: 18px;
  padding-bottom: 30px;
  font-family: PT Sans,sans-serif;
}

.contr .contr__title{
  color: #464646;
  margin-left: 20px;
  padding-bottom: 15px;
  font-family: PT Sans,sans-serif;
}

.contr .contr__text{
  margin-left: 20px;
  position: relative;
  bottom: 10px;
  line-height: 1.5em;
  color: #464646;
  font-family: PT Sans,sans-serif;
}

.contr1 .contr__text1{
  margin-left: 90px;
  position: relative;
  bottom: 92px;
  line-height: 1.5em;
  color: #464646;
  font-family: PT Sans,sans-serif;
 }

.display{
  display: flex;
  flex-direction: row;
  height: 400px;
  align-content: center;
  flex-wrap: nowrap;
}


.align-self{
   align-self: flex-end;
}

.contr_image{
  width: 61px;
  height: 61px;
  margin-left: 10px;
}

.contr__content{
 

}

@media(max-width: 1024px){
  body{background-color: red}
}


