body{
  background-color: #eeeeee;
  font-size: 15px;   
}

section{
  border-radius: 5px;
  background-color: white;
  margin: 15px;
}

.section_exp{
  height: 600;
  width: 364;
}

main{
  width: 850px;
  margin: 0 auto;
}

a{
  color: #464646;
  text-decoration: none;
}

a.a1{
  color:mediumblue;
}

.hrt{
  border-top: 1px solid #ededed;
  border-top-color: rgb(237, 237, 237);
  border-top-style: solid;
  border-top-width: 1px;
  list-style: none;
  list-style-position: outside;
  list-style-image: none;
  list-style-type: none;
  box-sizing: border-box;
  margin-left: 22px;
  margin-right: 22px;  
  margin-top: 10px;

}

.contr{
display: flex;
}

.contr1{
  height: 200px;
}

.contr2{
  height: 400px;
}

.contr__title__h2{
  margin-left: 90px;
  bottom: 75px;
  position: relative;
  color: #464646;
  font-family: PT Sans,sans-serif;
}

.contr__title__h4{
  margin-left: 90px;
  bottom: 70px;
  position: relative;
  color: #464646;
  font-family: PT Sans,sans-serif;
}

.contr1 .contr__title1{
  color: #464646;
  position: relative;
  margin-left: 20px;
  top: 18px;
  padding-bottom: 30px;
  font-family: PT Sans,sans-serif;
}

.contr .contr__title{
  color: #464646;
  margin-left: 20px;
  padding-bottom: 15px;
  font-family: PT Sans,sans-serif;
}

.contr .contr__text{
  margin-left: 20px;
  position: relative;
  bottom: 10px;
  line-height: 1.5em;
  color: #464646;
  font-family: PT Sans,sans-serif;
}

.contr1 .contr__text1{
  margin-left: 90px;
  position: relative;
  bottom: 92px;
  line-height: 1.5em;
  color: #464646;
  font-family: PT Sans,sans-serif;
 }

 .contr1 .contr__text3{
  margin-left: 90px;
  position: relative;
  bottom: 92px;
  line-height: 2.5em;
  color: #464646;
  font-family: PT Sans,sans-serif;
 }

.display{
  display: flex;
  flex-direction: row;
  height: 400px;
  align-content: center;
  flex-wrap: nowrap;
}


.align-self{
   align-self: flex-end;
}

.contr_image{
  width: 61px;
  height: 61px;
  margin-left: 10px;
}

.contr__content{
 

}

.sidenav {
  height: 460px;
  width: 300px; 
  position:absolute; 
  background-color: white; 
  overflow-x: hidden; 
  left: 230px;
  border-radius: 5px;
}

.sidenav a {
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav_avatar{
  width: 150px;
  height: 150px;
  border-radius: 100px;
  margin-left: 35px;
  margin-top: 20px;
}

.sidenav_title{
  color: #464646;
  position: relative;
  font-family: PT Sans,sans-serif;
  padding-top: 30px;
  margin-left: 30px;
}

.sidenav_text{
  margin-left: 30px;
  position: relative;
  bottom: 10px;
  line-height: 1.5em;
  color: #464646;
  font-family: PT Sans,sans-serif;
}

.sidenav_span{
  margin-left: 30px;
  font-family: PT Sans,sans-serif;
  font-weight: 700;
  color: #65c178;
}

.sidenav1 {
  height: 460px;
  width: 300px; 
  position:absolute; 
  background-color: white; 
  overflow-x: hidden; 
  left: 230px;
  border-radius: 5px;
  top: 485px;
}

.sidenav1 a {
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav1_span1{
  margin-left: 30px;
  font-family: PT Sans,sans-serif;
  font-weight: 300;
  color: #999;
}

.sidenav1_div{
  padding-top: 10px;
  font-family: PT Sans,sans-serif;
  color: #464646;
}

.section1{
  height: 700px; 
}

.text_green{
  
}