body{
  background-color: #eeeeee;
  font-size: 15px;   
}

section{
  border-radius: 5px;
  background-color: white;
  margin: 15px;
}

.section_exp{
  height: 763;
  width: 364;
}

main{
  width: 850px;
  margin: 0 auto;
}

a{
  color: #464646;
  text-decoration: none;
}

a.a1{
  color:mediumblue;
}

.hrt{
  border-top: 1px solid #ededed;
  border-top-color: rgb(237, 237, 237);
  border-top-style: solid;
  border-top-width: 1px;
  list-style: none;
  list-style-position: outside;
  list-style-image: none;
  list-style-type: none;
  box-sizing: border-box;
  margin-left: 22px;
  margin-right: 22px;  
}

.contr{
display: flex;
}

.contr .contr__title{
  color: #464646;
  margin-left: 20px;
}

.contr .contr__text{
 padding-left: 20px;
 line-height: 1.5em;
}

.display{
  display: flex;
  flex-direction: row;
  height: 400px;
  align-content: center;
  flex-wrap: nowrap;
}


.align-self{
   align-self: flex-end;
}

.contr_image{
  width: 61px;
  height: 61px;
  margin-left: 10px;
}

.contr__content{
  
}

@media(max-width: 1024px){
  body{background-color: red}
}


